body {
  background-color: gainsboro;
}
h2 {
  color: #553399;
}
header {
  display: flex;
  justify-content: flex-start;
  height: 90px;
}
#logo {
  background-color: black;
  opacity: 80%;
  width: 90px;
  height: 90px;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}
#logo img {
  width: 80px;
  height: 80px;
  border-top-right-radius: 40%;
  border-bottom-left-radius: 40%;
}
#title {
  padding-left: 400px;
  font-size: 50px;
  color: #550099;
}
#line {
  background-color: lightslategray;
  opacity: 35%;
  width: 100%;
  height: 8px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-top: 3px;
  margin-left: 3px;
}

#main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.formlines {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-items: flex;
  justify-content: space-between;
}
.lines {
  padding: 10px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
#btnsubmit {
  margin-top: 20px;
}
#btnCadastrar {
  background-color: #550099;
  width: 150px;
  height: 60px;
  border-radius: 8px;
  font-size: 15px;
  color: #dddddd;
  font-weight: bold;
}
